.mybody-loginsignup {
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-family: 'Jost', sans-serif;
    background: linear-gradient(to bottom, #5e38a5, #07040e);
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-register {
    width: 400px;
    height: 500px;
    overflow: hidden;
    background: url("../img/moon7.jpg") no-repeat center / cover;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000; 
    position: relative;
}

#chk {
    display: none;
}

.login {
    position: relative;
    width: 100%;
    height: 100%;
}

label {
    color: #fff;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

input {
    width: 60%;
    /* height: 20px; */
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

button {
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #573b8a;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}

button.loginBtn,
button.registerBtn {
    width: 65%;
}

button:hover {
    background: #6d44b8;
}

.signup {
    height: 450px;
    background: #eee;
    border-radius: 60% / 10%;
    transform: translateY(-190px);
    transition: .8s ease-in-out;
}

.signup label {
    color: #573b8a;
    transform: scale(.6);
    margin-bottom: 30px;
    padding-top: 13px;
}

#chk:checked~.signup {
    transform: translateY(-525px);
}

#chk:checked~.signup label {
    transform: scale(1);
}

#chk:checked~.login label {
    transform: scale(.6);
}

#scene-container {
    flex: 1;
    height: 100%;
    /* max-width: 90%; */
    overflow: hidden;
}

.row {
    display: grid;
    grid-template-columns: 66% 33%;
}

.error-message {
    color: #ff0000;
    text-align: center;
    /* display: block; */
    /* margin-top: 5px; */
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    background-color: #000000bb;
}

.input-container {
    position: relative;
    /* margin-bottom: 20px; */
    /* Espacio entre cada par de input y span */
}

.btnBack {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: #A94639;
    padding: 5px 10px;
    color: white;
    border: none;
    margin: 10px 10px 0 0;
    border-radius: 50%;
    height: 32px;
}

.link-style {
    color: white;
    /* Color blanco */
    text-decoration: none;
    /* Elimina el subrayado predeterminado */
    /* Otros estilos, si es necesario */
}

.btnBack:hover {
    background-color: darkred;
    /* Cambiamos el color al pasar el mouse sobre el botón */
}

/* Media query para centrar horizontalmente en pantallas más anchas */
@media screen and (max-width: 1100px) {
    .main {
        left: 50%;
        /* transform: translateX(-50%); */
    }

    #scene-container {
        display: none;
    }

    .row {
        display: grid;
        grid-template-columns: 100%;
    }
}