.mybody-loginsignup {
    background: linear-gradient(to bottom, #5e38a5, #07040e);
}

.login-register {
    width: 430px;
    height: 60%;
    background: url("../img/moon7.jpg") no-repeat center / cover;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000; /* Sombra */
    overflow: hidden;
    position: relative;
}

.login {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 40px;
}

.signup {
    position: absolute;
    width: 100%;
    height: 85%;

    /* Muchas matematicas */
    transform: translateY(100%);

    background: #eee;
    border-radius: 70% / 10%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    
    transition: .8s ease-in-out;
    overflow-y: scroll;
}

#chk:checked~.signup {
    transform: translateY(calc((100% / .85 - 100%)));
}

#chk {
    display: none;
}

.login-label {
    color: #fff;
    font-size: 2.3em !important;
    justify-content: center;
    display: flex;
    
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.signup .login-label {
    color: #573b8a;
    transform: scale(.6);
    margin-bottom: 10px;
    padding-top: 13px;
}

#chk:checked~.signup .signup-label {
    transform: scale(1);
}

#chk:checked~.login .login-label {
    transform: scale(.6);
}

#scene-container {
    flex: 1;
    height: 100%;
    /* max-width: 90%; */
    overflow: hidden;
}

.row {
    display: grid;
    grid-template-columns: 66% 33%;
}

.btnBack {
    z-index: 1;
    padding: 5px 10px;
    color: #ffffff;
    border: none;
    margin: 10px 10px 0 0;
    border-radius: 50%;
    height: 32px;
}

.link-style {
    color: #ffffff;
    text-decoration: none;
}

/* Media query para centrar horizontalmente en pantallas más anchas */
@media screen and (max-width: 1100px) {
    .main {
        left: 50%;
        /* transform: translateX(-50%); */
    }

    #scene-container {
        display: none;
    }

    .row {
        display: grid;
        grid-template-columns: 100%;
    }
}