.mybody-landingPage {
  background: linear-gradient(#190932, #8aa2d5);
}

.landing-header {
  padding: 5px 80px;
}

.landing-section::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #1c0522, transparent);
  z-index: 1000;
}

.landing-section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.landing-section img#moon {
  mix-blend-mode: screen;
}

#btn {
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
  z-index: 8;
  transform: translateY(100px);
}
